In [55]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import glob
import matplotlib.pyplot as plt
sns.set_context("talk")

In [93]:
str_path = "/home/luisasantus/Desktop/crg_cluster/data/structures_collections/homfam_ref/DB/structures/UniProtKB/id_1.0_cov_1.0/*/*.pdb"
families_homfam = pd.read_csv('/home/luisasantus/Desktop/crg_cluster/data/structural_regression/stats/refs/02_summary_homfam_refs.csv')
families_homfam["family"] = families_homfam.family.str.split("-",expand = True)[0]

In [79]:
# 1. Given the required query coverage (100%), how many structures do we retrieve

In [80]:
# Load structures summary 
str_summary = pd.DataFrame()
for file in glob.glob(str_path):
    family = os.path.basename(os.path.dirname(file))
    structure = os.path.basename(os.path.basename(file)).replace(".pdb", "")
    entry = pd.DataFrame({'family':[family], 'structure': structure})
    str_summary =  pd.concat([str_summary, entry], ignore_index = True)
summary_nstr = str_summary.groupby("family").count().reset_index()
summary_nstr = summary_nstr.rename(columns ={"structure":"structures_found"})
summary_nstr.family = summary_nstr.family.str.replace("-ref", "")

In [94]:
summary_nstr

           family  structures_found
0    Ald_Xan_dh_2                 2
1   DMRL_synthase                 2
2             TNF                 4
3       aldosered                 5
4            cyt3                 3
5            gpdh                 7
6             int                 2
7     oxidored_q6                 2
8            p450                 5
9        profilin                 4
10        slectin                 4
11          toxin                13

In [82]:
summary_n = pd.merge(families_homfam, summary_nstr, on = "family")

In [83]:
summary_n

,family,benchmarking_dataset,sim,mean,median,max,n_sequences,structures_found
0,int,homfam,25.10,192.000000,184.0,208,5,2
1,p450,homfam,26.55,408.000000,402.5,456,12,5
2,oxidored_q6,homfam,57.60,265.200000,262.0,275,5,2
3,slectin,homfam,35.20,133.400000,134.0,137,5,4
4,cyt3,homfam,43.73,110.000000,108.5,118,6,3
5,toxin,homfam,44.45,63.500000,61.0,74,20,13
6,TNF,homfam,33.80,149.600000,147.0,163,5,4
7,Ald_Xan_dh_2,homfam,34.47,763.500000,777.0,804,6,2
8,profilin,homfam,39.70,128.600000,125.0,138,5,4
9,aldosered,homfam,43.19,310.857143,314.0,325,7,5
10,DMRL_synthase,homfam,34.20,158.000000,155.0,168,5,2
11,gpdh,homfam,56.07,338.750000,333.5,358,8,7

In [84]:
summary_n[summary_n.n_sequences != summary_n.structures_found]

,family,benchmarking_dataset,sim,mean,median,max,n_sequences,structures_found
0,int,homfam,25.10,192.000000,184.0,208,5,2
1,p450,homfam,26.55,408.000000,402.5,456,12,5
2,oxidored_q6,homfam,57.60,265.200000,262.0,275,5,2
3,slectin,homfam,35.20,133.400000,134.0,137,5,4
4,cyt3,homfam,43.73,110.000000,108.5,118,6,3
5,toxin,homfam,44.45,63.500000,61.0,74,20,13
6,TNF,homfam,33.80,149.600000,147.0,163,5,4
7,Ald_Xan_dh_2,homfam,34.47,763.500000,777.0,804,6,2
8,profilin,homfam,39.70,128.600000,125.0,138,5,4
9,aldosered,homfam,43.19,310.857143,314.0,325,7,5
10,DMRL_synthase,homfam,34.20,158.000000,155.0,168,5,2
11,gpdh,homfam,56.07,338.750000,333.5,358,8,7

In [17]:
# One family where i get all the structures

In [85]:
summary_n[summary_n.n_sequences == summary_n.structures_found]

Empty DataFrame
Columns: [family, benchmarking_dataset, sim, mean, median, max, n_sequences, structures_found]
Index: []

In [86]:
families_all_ref_structures = list(summary_n[summary_n.n_sequences == summary_n.structures_found].family)
df = pd.DataFrame(families_all_ref_structures)
df.columns = ["family"]
df.family = df.family + "-ref"

ValueError: Length mismatch: Expected axis has 0 elements, new values have 1 elements

In [97]:
str_summary

               family structure
0       aldosered-ref      1ah4
1       aldosered-ref     1afsa
2       aldosered-ref      1a80
3       aldosered-ref      1frb
4       aldosered-ref      1ads
5             TNF-ref     1d4vb
6             TNF-ref     1tnra
7             TNF-ref     2tnfa
8             TNF-ref      1aly
9            cyt3-ref      2cy3
10           cyt3-ref      2cym
11           cyt3-ref      1wad
12            int-ref      1ido
13            int-ref     1lfaa
14           gpdh-ref     1ggao
15           gpdh-ref     1gpdg
16           gpdh-ref     1hdgo
17           gpdh-ref     1gd1o
18           gpdh-ref     1gado
19           gpdh-ref     1gypa
20           gpdh-ref     1cero
21   Ald_Xan_dh_2-ref     1n62b
22   Ald_Xan_dh_2-ref     1dgja
23       profilin-ref      2acg
24       profilin-ref      1a0k
25       profilin-ref     1awia
26       profilin-ref     1ypra
27  DMRL_synthase-ref     1ejba
28  DMRL_synthase-ref     1rvva
29          toxin-ref     1tgxa
30          toxin-ref     1nean
31          toxin-ref      2cdx
32          toxin-ref     2nbta
33          toxin-ref      1lsi
34          toxin-ref      2crt
35          toxin-ref      1cod
36          toxin-ref      1txb
37          toxin-ref      1nor
38          toxin-ref      1ntx
39          toxin-ref      1drs
40          toxin-ref     1cdta
41          toxin-ref      1fas
42    oxidored_q6-ref     2frva
43    oxidored_q6-ref     1h2rs
44        slectin-ref      1a3k
45        slectin-ref     1hlca
46        slectin-ref     3gala
47        slectin-ref     1slta
48           p450-ref     1n97a
49           p450-ref     1io7a
50           p450-ref     1jfba
51           p450-ref     1e9xa
52           p450-ref     1n40a

In [87]:
# Pick one example where we have don't find all and make sure we really cannot find it.

In [98]:
example_fam = "int-ref"
str_summary[str_summary.family == example_fam]

# Is not found, why?

     family structure
12  int-ref      1ido
13  int-ref     1lfaa

In [ ]:
>4blma
>3blm
>1btl
>1mfo
>1bul
>1bsg
>1bza
>1shva